# Virtual environment
venv/
env/
.Venv/
.Venv.bak/
venv.bak/
env.bak/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace

# Streamlit cache and logs
.streamlit/
logs/
secrets.toml

# System files
.DS_Store
Thumbs.db
